[Desktop Entry]
Version=1.0
Name=Google Chrome
Comment=Browse the World Wide Web
enericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=chrome %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chrome.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
Actions=new-window;new-private-window;
StartupWMClass=Google-chrome

Name[en_US]=chrome.desktop

[Desktop Action new-window]
Name=New Window
Exec=chrome

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=chrome --incognito
